src/main/webapp/ui-libs
src/main/webapp/ui-libs-demo
src/main/webapp/uploads
src/main/webapp/bc
src/main/webapp/bc-framework
src/main/webapp/bc-business
.metadata
.settings
.classpath
.project
target
Thumbs.db
*.log
*.log.*
build
bin
temp