/**
 * 登录页面的样式设置
 *
 * @author rongjihuang@gmail.com
 * @date 2011-04-11
 */
html,body {
	height: 100%;
	width: 100%
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "微软雅黑", "宋体", sans-serif;
	/*font-size: 62.5%;使1em=12px,浏览器默认为1em=16px,ie:_font-size: 63%;*/
	font-size: 1em; /*调整为默认14px | 0.87em*/
	background-color: #f5f5f5;
	text-align: center;
	background: url(images/background.png) repeat left top black;
}

form {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	margin-left: -130px;
	margin-top: -130px;
	left: 50%;
	top: 50%;
	font-size: 20px;
	/*border: 1px solid #ccc;
	box-shadow:1px 1px 10px #c6c;*/
	text-align: center;
	padding: 10px;
}
.appLogo {
	width: 100px;
	height: 100px;
	cursor: default;
	margin-bottom:4px;
}

.textContainer{
	position: relative;
	width: 240px;
	margin: 0px 0 0px 0;
	text-align: left;
	border: 0px solid #4189C3;
	height: 40px;
	overflow: hidden;
	border-width: 0px;
	border-style: solid;
	border-color: gray;
	margin-bottom: 10px;
}

.textContainer>label{
	color: gray;
	font-size: 18px;
	padding:0;
	margin: 0;
}
#remember{
	margin: 0 2px 0 0;
}

input.input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*box-shadow: 0 0 2px 3px #4189C3;*/
	width: 200px;
	height: 40px;
	font-size: 28px;
	border-width: 0;
	border-radius: 0px;
	padding: 1px 4px;
	color: #000055;
	outline: none;
	display: inline-block;
	position: absolute;
	left:40px;
	top:0;
}
input.input:focus {
	box-shadow: inset 0 0 2px 2px gold;
}

input.input#password {
	width: 160px;
}

.accountIcon,.passwordIcon,.submitIcon {
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border-width: 0px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(#fff0ff, #f5c2d9);
	background-image: -webkit-linear-gradient(#fff0ff, #f5c2d9);
}

.submitIcon {
	cursor: pointer;
	position: absolute;
	top:0;
	right:0;
}

#version {
	position: absolute;
	right: 4px;
	bottom: 4px;
	color: #006666;
	font-size: 12px;
	font-style: italic;
	cursor: pointer;
}

#msg {
	position: absolute;
	text-align: center;
	width: 400px;
	top: 50%;
	margin-top: 120px;
	left: 50%;
	margin-left: -200px;
	color: #eee;
}

#test {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	color: #808000;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	height: 100px;
	bottom: 4px;
	left: 4px;
	border-radius: 50px;
	padding:4px;
	border: 4px solid #808000;
}

/* 手机访问时的样式控制 */
@media only screen and (max-width: 999px) {
	/* 手机访问时取消垂直居中，避免输入法框遮住 */
	form {
		margin-top: 0;
		top: 0;
	}
}
