/**
 * 变更日志页面的样式控制
 *
 * @author rongjihuang@gmail.com
 * @date 2012-01-13
 */
html {
	height: 100%;
}

/**全局字体控制*/
body {
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "微软雅黑", "宋体", sans-serif;
	/*font-size: 62.5%;使1em=12px,浏览器默认为1em=16px,ie:_font-size: 63%;*/
	font-size: 12px; /*调整为默认14px | 0.87em*/
	background-color: #f5f5f5;
}

.hide {
	display: none;
}

div.cl-title {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}

ul.cl-container {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.cl-container>li {
	margin: 14px 0 0 0;
}

div.cl-header {
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0 2px 0;
	margin: 0;
	background-color: #ccc;
	position: relative;
}

li.cl-expand ul.cl-logs {
	display: block;
}

li.cl-collapse ul.cl-logs {
	display: none;
}

span.cl-version {
	margin: 4px;
	min-width: 15em;
	display: inline-block;
}

span.cl-issueTime {
	margin: 4px;
	min-width: 18em;
	display: inline-block;
}

span.cl-issuer {
	margin: 4px;
	min-width: 8em;
	display: inline-block;
	display: none;
}

span.cl-operate {
	margin: 4px;
	min-width: 10em;
	display: inline-block;
	cursor: pointer;
}
span.cl-from {
	margin: 4px;
	display: inline-block;
	width: 120px;
	text-align: left;
	padding-left: 8px;
	position: absolute;
	right:0;
}

ul.cl-logs {
	list-style: decimal-leading-zero;
	padding: 0 0 0 24px;
	margin: 0px;
	display: none;
}

li.cl-log {
	margin: 0 8px 0 8px;
	padding: 0;
	line-height: 20px;
	border-bottom: 1px dotted #ccc;
	position: relative;
}

li.cl-log>div.module {
	display: inline-block;
	width: 60px;
	text-align: right;
	padding-right: 8px;
	border-right: 1px solid #cce;
}
li.cl-log>div.from {
	display: inline-block;
	width: 140px;
	text-align: left;
	padding-left: 8px;
	border-left: 0px dotted #c6c;
	position: absolute;
	right:0;
	color: #ccc;
}

li.cl-log>div.detail {
	display: inline-block;
	text-align: left;
	padding-left: 8px;
}